<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title PPOk app</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @RenderSection("additionalCSS", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            
            @if (Request.IsAuthenticated) {
                {
                    string[] value = User.Identity.Name.Split(',');
                    string person_name = value[0];
                    string person_type = value[1];
                    if (person_type == "admin") {
                        <strong>TEST</strong>
                    }

                    <div class="navbar-header">
                        <strong>@Html.Encode(person_name)</strong>
                        @Html.ActionLink("Log Out", "Logout", "Home")
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                }
            } else {
                <div class="navbar-header">
                    <strong>@Html.ActionLink("Log in", "Login", "Home")</strong>
                </div>
            }
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    @RenderBody()
    <script src="~/Content/Vendor/jquery/jquery-2.2.4.min.js"></script>
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>

    @RenderSection("scriptsIncludes", false)
    @RenderSection("inlineScript", false)
</body>
</html>