@model List<PPOK_System.Models.Person>
@*@model PPOK_System.Models.Person*@
@{
    ViewBag.Title = "TestPerson";
}

<h2>TestPerson</h2>

<div class="container">
    @foreach (var p in Model) {
        <p>@p.person_id - @p.first_name @p.last_name - @p.phone - @p.person_type</p>
        foreach (var c in p.contact_preference) {
            <p>@c.preference_id - @c.person_id - @c.contact_type - @c.preference</p>
        }
    }

    @*<p>@Model.person_id - @Model.first_name @Model.last_name - @Model.phone - @Model.date_of_birth - @Model.person_type</p>
    @foreach (var c in Model.contact_preference) {
        <p>@c.preference_id - @c.person_id - @c.contact_type - @c.preference</p>
    }*@
</div>