@*@model List<PPOK_System.Models.Message>*@
@model PPOK_System.Models.Message
@{
    ViewBag.Title = "TestMessage";
}

<h2>TestMessage</h2>

<div class="container">
    @*@foreach (var m in Model) {
        <p>@m.message_id - @m.prescription.drug.drug_name - @m.response</p>
    }*@

    <p>@Model.message_id - @Model.prescription.drug.drug_name - @Model.response</p>
</div>
