@model List<PPOK_System.Models.Prescription>
@*@model PPOK_System.Models.Prescription*@
@{
    ViewBag.Title = "TestPrescription";
}

<h2>TestPrescription</h2>

<div class="container">
    @foreach (var p in Model) {
        <p>@p.rx_id - @p.customer.last_name - @p.drug.drug_name - @p.date_filled - @p.number_refills - @p.days_supply</p>
    }

    @*<p>@Model.rx_id - @Model.person_id - @Model.drug_id - @Model.date_filled - @Model.days_supply - @Model.number_refills</p>*@
</div>