@*@model List<PPOK_System.Models.Store>*@
@model PPOK_System.Models.Store
@{
    ViewBag.Title = "TestStore";
}

<h2>TestStore</h2>

<div class="container">
    @*@foreach (var s in Model) {
        <p>@s.store_id - @s.address, @s.city, @s.state</p>
    }*@

    <p>@Model.store_id - @Model.address, @Model.city, @Model.state</p>
</div>
